# ignore unencrypted files
#config/*
!config/*.gpg
!config/*.service
# allow specific unencrypted configs
!config/requirements.txt
# ignore the unencrypted config
recipe_app/config.py
scripts/env_*.sh
# ignore the creator_uid file since it needs to be updated for every user
.vagrant/machines/default/virtualbox/creator_uid
