# ignore vagrant machine files
.vagrant/
# ignore unencrypted files
#config/*
!config/*.gpg
!config/*.service
# allow specific unencrypted configs
!config/requirements.txt
# ignore the unencrypted config
recipe_app/app/config.py
scripts/env_*.sh
# ignore compiled python
*.pyc
# ignore venv files
/recipe_app-venv
