<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset="UTF-8" />

        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="manifest" href="/static/site.webmanifest">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css" media="screen" />
    </head>
    <body>
        <div>data: {{ page.data }}</div>
        <div id="root"></div>
        <script src={{ bundle }}></script>
    </body>
</html>
