[Unit]
Description=Recipe flask app
Requires=network.target
After=network.target

[Service]
User=vagrant
WorkingDirectory=/var/www/app
ExecStart=python3 run.py
Restart=always

[Install]
WantedBy=multi-user.target
