[Unit]
Description=uWSGI
Requires=network.target
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/var/www/app
Environment="PATH=/vagrant/recipe_app-venv/bin/uwsgi"
ExecStart=/vagrant/recipe_app-venv/bin/uwsgi --ini recipe_app.ini
Restart=always

[Install]
WantedBy=multi-user.target
